<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.startcaft.basic.dao.master.IDicItemDao">

    <resultMap id="BaseResultMap" type="com.startcaft.basic.core.entity.DicItem">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="seq" property="seq" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="BIGINT" />
        <result column="parents" property="parents" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.startcaft.basic.core.entity.DicItem"
               id="ParentResultMap" extends="BaseResultMap">
        <result column="pid" property="parentType.id" jdbcType="BIGINT" />
        <result column="pname" property="parentType.name" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 递归查询时用到的结果集 -->
    <resultMap id="treeMap" type="com.startcaft.basic.core.entity.DicItem" extends="BaseResultMap">
        <collection property="children" column="id" ofType="com.startcaft.basic.core.entity.DicItem" select="selectByPid" />
    </resultMap>

    <sql id="Base_Column_List">
        id, code, description, name, seq, pid
    </sql>

    <select id="selectListDynamic" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dic_item
        <where>
            <if test="name != null and name != ''">
                <bind name="_dicName" value="'%'+name+'%'"/>
                and name like #{_dicName}
            </if>
            <if test="pid != null">
                and pid = #{pid}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ParentResultMap"
            parameterType="java.lang.Long">
        SELECT r1.*,r2.name AS pname,getDicParents(#{id,jdbcType=BIGINT}) as parents
        FROM sys_dic_item r1
        LEFT OUTER  JOIN sys_dic_item r2
        ON r1.pid = r2.id
        WHERE r1.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectTree" resultMap="treeMap">
        select * from sys_dic_item where pid = 0
    </select>

    <select id="selectTreeById" resultMap="treeMap" parameterType="java.lang.Long">
        select * from sys_dic_item where id = #{_parameter}
    </select>

    <select id="selectByPid" resultMap="treeMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        from sys_dic_item
        WHERE pid = #{_parameter}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_dic_item
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.startcaft.basic.core.entity.DicItem">
        insert into sys_dic_item (code, description,
        name, seq, pid)
        values (#{code,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{pid,jdbcType=BIGINT})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.startcaft.basic.core.entity.DicItem">
        update sys_dic_item
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="seq != null">
                seq = #{seq,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>