<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.startcaft.basic.dao.master.IDicTypeDao">

    <resultMap id="BaseResultMap" type="com.startcaft.basic.core.entity.DicType">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="seq" property="seq" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="BIGINT" />
    </resultMap>

    <resultMap type="com.startcaft.basic.core.entity.DicType"
               id="ParentResultMap" extends="BaseResultMap">
        <result column="pid" property="parentType.id" jdbcType="BIGINT" />
        <result column="pname" property="parentType.name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id, code, description, name, seq, pid
    </sql>

    <select id="selectByPrimaryKey" resultMap="ParentResultMap"
            parameterType="java.lang.Long">
        SELECT r1.*,r2.name AS pname
        FROM sys_dictionarytype r1
        LEFT OUTER  JOIN sys_resource r2
        ON r1.pid = r2.id
        WHERE r1.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectRecursive" resultMap="BaseResultMap">
        <!-- 自定义函数 getChildDicType(typeId INT)，顶层pid必须为0 -->
        SELECT * FROM sys_dictionarytype
            WHERE FIND_IN_SET(id,getChildDicType(1))
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_dictionarytype
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.startcaft.basic.core.entity.DicType">
        insert into sys_dictionarytype (code, description,
        name, seq, pid)
        values (#{code,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{pid,jdbcType=BIGINT})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.startcaft.basic.core.entity.DicType">
        update sys_dictionarytype
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="seq != null">
                seq = #{seq,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>