<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/common_head_css::commonHeader">
        <meta charset="UTF-8"/>
        <title>首页</title>
        <meta name="description" content="overview &amp; stats" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    </head>
    <body class="no-skin full-height-layout" style="overflow:hidden">
        <div id="wrapper">
            <!--顶部导航-->
            <div id="navbar" class="navbar navbar-default navbar-fixed-top">
                <script type="text/javascript">
                    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
                </script>
                <div class="navbar-container" id="navbar-container">
                    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                        <span class="sr-only">Toggle sidebar</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div th:replace="/common/common_top :: top"></div>
                </div>
            </div>
            <!--顶部导航-->

            <!--main container-->
            <div class="main-container" id="main-container">
                <script type="text/javascript">
                    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
                </script>
                <!--左边导航-->
                <div id="sidebar" class="sidebar sidebar-fixed responsive">
                    <script type="text/javascript">
                        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                    </script>
                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <button class="btn btn-success">
                                <i class="ace-icon fa fa-signal"></i>
                            </button>
                            <button class="btn btn-info">
                                <i class="ace-icon fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-warning">
                                <i class="ace-icon fa fa-users"></i>
                            </button>
                            <button class="btn btn-danger">
                                <i class="ace-icon fa fa-cogs"></i>
                            </button>
                        </div>
                        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                            <span class="btn btn-success"></span>
                            <span class="btn btn-info"></span>
                            <span class="btn btn-warning"></span>
                            <span class="btn btn-danger"></span>
                        </div>
                    </div>
                    <!-- 菜单，动态生成，顶层节点 -> 一级菜单导航 -> 二级菜单链接 -->
                    <ul class="nav nav-list" id="navSider">
                        <!--顶层节点-->
                        <!--<li class="">-->
                            <!--<a href="#" class="dropdown-toggle">-->
                                <!--<i class="menu-icon fa fa-android"></i>-->
                                <!--<span class="menu-text">用户管理</span>-->
                                <!--<b class="arrow fa fa-angle-down"></b>-->
                            <!--</a>-->
                            <!--<b class="arrow"></b>-->
                            <!--<ul class="submenu">-->
                                <!--<li class="">-->
                                    <!--<a href="javascript:;" data-url="" data-id="">-->
                                        <!--<i class="menu-icon fa fa-caret-right"></i>-->
                                        <!--用户信息-->
                                    <!--</a>-->
                                    <!--<b class="arrow"></b>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>

                    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                    </div>

                    <script type="text/javascript">
                        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                    </script>
                </div>

                <!--中间正文-->
                <div class="main-content" id="page-wrapper">
                    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
                        <script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                        </script>

                        <div class="row content-tabs">
                            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i></button>
                            <nav class="page-tabs J_menuTabs">
                                <div class="page-tabs-content" style="margin-left: 0px;">
                                    <a href="javascript:;" class="J_menuTab active" data-flag="/control">控制台</a>
                                </div>
                            </nav>
                            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i></button>
                        </div>
                    </div>
                    <!--展示页面的 iframe-->
                    <div class="page-content" id="page-content">
                        <div class="row J_mainContent" id="content-main">
                            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" th:src="@{/control}" frameborder="0" data-flag="/control" seamless="seamless"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main container-->

        <!--导入通用js-->
        <div th:include="/common/common_head_js::onLoadJS"></div>
        <!--自定义脚本-->
        <script type="text/javascript">
            var currentIframe;
            var currentUser;
            $(function(){

                setAndCheckCurrentUser();
                menuEventInit();
                tabsEventInit();
                initPwdSettingEvent();

                /**
                 * 按照顺序获取菜单，顶层节点 -> 一级菜单 -> 二级链接
                 */
                var whenResult = $.when($.ajax({
                    url:'http://localhost:8080/resources/root',
                    dataType:'json',
                    type:'get'
                }),$.ajax({
                    url:'http://localhost:8080/resources/firstLevels',
                    dataType:'json',
                    type:'get'
                }));
                whenResult.done(function (rootObj,firstLevelObjs) {
                    var root = rootObj[0].data;
                    var html = '<li class="active">' +
                                    '<a data-id="'+root.id+'">' +
                                        '<i class="menu-icon fa fa-desktop"></i>' +
                                        '<span class="menu-text">'+root.name+'</span>' +
                                    '</a>' +
                                    '<b class="arrow"></b>' +
                                '</li>';
                    $('#navSider').prepend(html);

                    var firstResources = firstLevelObjs[0].data;
                    jQuery.each(firstResources,function(index,obj) {
                        $.ajax({
                            url:'http://localhost:8080/resources/secondLevels/' + currentUser.name + '/' + obj.id,
                            dataType:'json',
                            type:'get',
                            headers:{"Authorization":currentUser.token,"Content-Type":"application/json;;charset=UTF-8"}
                        }).done(function (result) {
                            //console.log(result);
                            var nodesHtml = '<li class="">' +
                                                '<a href="#" class="dropdown-toggle">' +
                                                    '<i class="menu-icon fa fa-android"></i>' +
                                                    '<span class="menu-text">' + obj.name + '</span>' +
                                                    '<b class="arrow fa fa-angle-down"></b>' +
                                                '</a>' +
                                                '<b class="arrow"></b>';
                            var urls = result.data;
                            if (urls !== null || urls.length > 0){
                                nodesHtml += '<ul class="submenu">';
                                jQuery.each(urls,function(index,resource){
                                    nodesHtml += '<li class="">' +
                                                    '<a href="javascript:;" data-url="'+resource.url+'" data-id="'+resource.id+'">' +
                                                        '<i class="menu-icon fa fa-caret-right"></i>' +
                                                        resource.name
                                                    '</a>' +
                                                    '<b class="arrow"></b>'
                                                '</li>'
                                });
                            }
                            nodesHtml += '</ul></li>';
                            $('#navSider').append(nodesHtml);
                        });
                    });
                }).fail(function (error) {
                    console.log(error)
                });
                /**/
            });


            /**函数定义**/

            // 左侧菜单链接的点击事件
            function menuEventInit(){
                $('.nav-list').delegate('a','click',function (e) {
                    e.preventDefault();
                    var url = $(this).data('url');
                    if(url){
                        $("iframe").css("display","none");
                        window.location.hash = url;
                        var iframe = $("#content-main").find("[data-flag='"+url+"']");
                        $(".nav-list li").removeClass("active");
                        $(this).parent("li").addClass("active");
                        if(iframe.length>0){
                            iframe.css("display","inline");
                            currentIframe = iframe[0];
                        }
                        else {
                            var resId = $(this).data('id');
                            var ihtml = '<iframe class="J_iframe" name="iframe'+resId+'" width="100%" height="100%" src="'+url+'" frameborder="0" data-flag="'+url+'" seamless="seamless"></iframe>';
                            $("#content-main").append(ihtml);
                            currentIframe = $("#content-main").find("[data-flag='"+url+"']")[0];
                        }

                        var tab=$(".page-tabs-content").find("[data-flag='"+url+"']");
                        $(".page-tabs-content a").removeClass("active");
                        if(tab.length > 0){
                            tab.addClass("active");
                        }else{
                            $(".page-tabs-content").append('<a href="javascript:;" class="J_menuTab active" data-flag="'+url+'">'+$(this).text()+'<i class="fa fa-times-circle"></i></a>');
                            tabsEventClear();
                            tabsEventInit();
                        }
                    }
                });
            }

            // tab 页卡点击事件绑定/解除绑定
            function tabsEventClear(){
                $(".page-tabs-content a").unbind("click");
                $(".page-tabs-content .fa-times-circle").unbind("click");
            }
            function tabsEventInit(){
                // tab页卡之间切换
                $(".page-tabs-content a").bind("click",function(){
                    if($(this).hasClass("active") == false){
                        $(".page-tabs-content a").removeClass("active");
                        $(this).addClass("active");
                        var menu=$('[url="'+($(this).attr("data-flag") === '/control')+'"]');
                        menu.click();
                        $(".nav-list li").removeClass("active");
                        menu.parent("li").addClass("active");
                        $(".nav-list li").removeClass("open");
                        menu.parent("li").parents("li").addClass("open");
                        menu.parent("ul").css("display","block");
                    }
                });
                // 关闭页卡
                $(".page-tabs-content .fa-times-circle").bind("click",function(){
                    if($(this).parent("a").hasClass("active")){
                        var nextnode=$(this).parent("a").next();
                        $(".page-tabs-content a").removeClass("active");
                        if(nextnode.length>0){
                            nextnode.addClass("active");
                        }else{
                            nextnode=$(this).parent("a").prev();
                        }
                        nextnode.addClass("active");
                        var menu=$('[url="'+($(this).attr("data-flag") === '/control')+'"]');
                        menu.click();
                        $(".nav-list li").removeClass("active");
                        menu.parent("li").addClass("active");
                        $(".nav-list li").removeClass("open");
                        menu.parent("li").parents("li").addClass("open");
                        menu.parent("ul").css("display","block");
                    }
                    var iframe=$("#content-main").find("[data-flag='"+$(this).parent("a").attr("data-flag")+"']");
                    iframe.remove();
                    $(this).parent("a").remove();
                });
            }

            // 密码修改
            function initPwdSettingEvent(){
                $("#pwd-update").click(function(){//添加页面
                    layer.open({
                        title:'修改密码',
                        type: 2,
                        area: ['770px', '500px'],
                        fix: false, //不固定
                        maxmin: true,
                        content: '/admin/user/pwd'
                    });
                });
            }

            // 设置用户
            // 一个小时检查一个用户的token是否失效
            function setAndCheckCurrentUser(){

                // 获取用户
                var userObj = JSON.parse( myStorage.getItem('currentUser'));
                if(userObj === null || userObj === undefined){
                    window.location.href = "/";
                    return;
                }

                // 设置 currentUser
                $('#topUserInfo').text('欢迎，' + userObj.name);
                currentUser = userObj;


                // 每隔一个小时轮训检查本地存储的用户，如果不存在，则弹出登陆框，这么做是为了子页面的操作流程，不需要去检查用户是否登陆。
                var intervalId = window.setInterval(function () {
                    console.log(JSON.parse( myStorage.getItem('currentUser')));
                },1000 * 60 * 60 * 60);
            }
        </script>
    </body>
</html>