<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/editor.md/css/editormd.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <style>
        .center{
            margin: 0 auto 10px;
            text-align: center;
        }
        .h{
            height: 30px;
        }
    </style>
</head>
<body>
    <div id="layout">
        <div class="center">
            <label for="dicName">文章类别</label>
            <input name="id" id="articleId" th:value="${articleId}" type="hidden" value="" />
            <input type="hidden" id="dicId" name="dicId" value="" />
            <input class="h" type="text" readonly="readonly" id="dicName" name="dicName" value="" placeholder="必须选择一个文章类别" />
            <button id="menuBtn" type="button" class="btn btn-sm btn-default" onclick="showMenu(); return false;" style="display:inline-block">选择</button>
            &nbsp;&nbsp;
            <button id="submit-btn" type="submit" class="btn btn-sm btn-primary" style="display:inline-block">
                提交
            </button>
            &nbsp;&nbsp;

            <div id="menuContent" class="menuContent" style="overflow-y:auto; overflow-x:auto;display:none;position:absolute; z-index: 99999;background-color: #FFFFFF;border: 1px solid #858585;height: 250px;width: 270px;">
                <ul id="dicTree" class="easyui-tree"></ul>
            </div>
        </div>
        <div class="center">
            <label>文章标题</label>
            <input class="h" type="text" style="width: 80%;" placeholder="文章的唯一标题" id="articleTitle" name="articleTitle" value="" />
        </div>
        <div class="center">
            <label>文章描述</label>
            <input class="h" type="text" style="width: 80%;" placeholder="对文章的一个简要概述" id="articleDesc" name="articleDesc" value="" />
        </div>
        <div id="test-editormd">
            <textarea style="display:none;">### 使用Markdown编辑文章</textarea>
        </div>
    </div>

    <!--导入通用js-->
    <div th:include="/common/common_head_js::onLoadJS"></div>
    <script th:src="@{/easyui/easyloader.js}"></script>
    <!--引入自定义本地存储对象myStorage，它依赖于cookieStorage.js-->
    <script th:src="@{/script/cookieStorage.js}"></script>
    <script th:src="@{/script/myStorage.js}"></script>
    <script th:src="@{/editor.md/editormd.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            ctxPath = /*[[@{/editor.md/lib/}]]*/ '';
        /*]]>*/
        var editor;
        var base = 'http://localhost:8080';
        easyloader.base = "/easyui/";
        easyloader.locales = 'zh_CN';
        easyloader.theme = 'bootstrap';
        easyloader.load('tree',function () {
            editor = editormd("test-editormd", {
                width   : "90%",
                height  : 640,
                syncScrolling : "single",
                path    : ctxPath,
                saveHTMLToTextarea:true
            });

            $('#dicTree').tree({
                onClick: function(node){
                    // 给父节点隐藏控件赋值
                    var pName = $("#dicName");
                    $("#dicId").val(node.id);
                    pName.attr("value", node.name);

                    hideMenu();
                },
                loadFilter:dataLoad
            });
            var promise = $.ajax({
                url:base + '/dics/tree/9',
                dataType:'json',
                type:'get',
                headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
            });
            promise.done(function (data) {
                $('#dicTree').tree('loadData',data);
            }).fail(function (error) {
                layer.msg(error.responseJSON.msg);
            });

            initformSubmitEvent();
        });

        // 递归过滤标准树形树形，添加一个 text 属性，值就是name属性的值
        function dataLoad(data,parent) {
            data.forEach(function (obj,index) {
                obj.text = obj.name;

                childLoad(obj);
            })

            return data;
        }
        function childLoad(obj) {
            if(obj.children !== null && obj.children.length > 0){
                obj.children.forEach(function (obj, index) {
                    obj.text = obj.name;
                    childLoad(obj);
                })
            }
        }

        // 显示资源菜单树，这个操作可以有，很6
        function showMenu() {
            var cityObj = $("#pname");
            var cityOffset = $("#pname").offset();
            var sel=document.getElementById("dicName");
            $("#menuContent").css({left:sel.offsetLeft + "px", top:sel.offsetTop + cityObj.outerHeight() + "px"}).slideDown("fast");
            $("body").bind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
                hideMenu();
            }
            if(event.target.id.length>=15&&event.target.id.length!=17){
                hideMenu();
            }
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }

        function initformSubmitEvent(){
            var $btn = $("#submit-btn");
            if($btn.hasClass("disabled")) return;

            $btn.click(function(){
                $btn.addClass("disabled");
                var id = $('#articleId').val();
                var postData;
                var submitUrl;
                if (id != null && id != ''){
                    postData = {
                        articleTitle:$('#articleTitle').val(),
                        articleDesc:$('#articleDesc').val(),
                        dicItemId:$('#dicId').val(),
                        id:$('#articleId').val(),
                        articleContent:editor.getHTML(),
                        checkName: ($('#name').val() === oldName) ? false : true,
                    }
                    submitUrl = base + '/articles/modify';
                }
                else {
                    postData = {
                        articleTitle:$('#articleTitle').val(),
                        articleDesc:$('#articleDesc').val(),
                        dicItemId:$('#dicId').val(),
                        articleContent:editor.getHTML()
                    }
                    submitUrl = base + '/articles/save';
                }

                var promise = $.ajax({
                    url: submitUrl,
                    type:'post',
                    dataType:'json',
                    data:JSON.stringify(postData),
                    headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                });
                promise.done(function (result) {
                    if(result.reqSuccess){
                        layer.msg('操作成功', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        },function(){
                            window.location.href = '/admin/article/list';
                        });
                    }
                    else {
                        layer.msg(result.msg);
                    }
                }).fail(function (error) {
                    layer.msg(error.responseJSON.msg);
                })
                $btn.removeClass('disabled');
            });
        }
    </script>
    </body>
</html>