<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_head_css::commonHeader">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
</head>
<body class="no-skin">

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
            <div class="main-content" style="margin-left: 0px;">
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <form class="form-horizontal" id="validation-form" method="post">
                                <div class="form-group">
                                    <!-- 隐藏的 id 和 pid -->
                                    <input name="id" id="orgId" th:value="${orgId}" type="hidden" value="" />
                                    <input type="hidden" id="pid" name="pid" value="" />
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="pname">上级组织</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="input-icon input-icon-right" id="parentOrg">
                                            <input type="text" readonly="readonly" id="pname" name="pname" value="" class="col-xs-12 col-sm-6" />
                                            <button id="menuBtn" type="button" class="btn btn-sm btn-default" onclick="showMenu(); return false;" style="float: left;">选择</button>
                                        </div>
                                        <div id="menuContent" class="menuContent" style="overflow-y:auto; overflow-x:auto;display:none;position:absolute; z-index: 99999;background-color: #FFFFFF;border: 1px solid #858585;height: 250px;width: 270px;">
                                            <ul id="orgTree" class="easyui-tree"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="orgName">组织部门名称</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="clearfix">
                                            <input type="text" name="orgName" id="orgName" value="" placeholder="组织部门名称" class="col-xs-12 col-sm-6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="orgBak">组织部门描述</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="clearfix">
                                            <textarea id="orgBak" name="orgBak" placeholder="数据字典描述" class="col-xs-12 col-sm-6" style="resize:none;"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix form-actions" align="center">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="submit-btn" class="btn btn-info" type="submit" data-last="Finish">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            提交
                                        </button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            重置
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    </div><!-- /.main-container -->

    <!--导入通用js-->
    <div th:include="/common/common_head_js::onLoadJS"></div>
    <script th:src="@{/easyui/easyloader.js}"></script>
    <!--引入自定义本地存储对象myStorage，它依赖于cookieStorage.js-->
    <script th:src="@{/script/cookieStorage.js}"></script>
    <script th:src="@{/script/myStorage.js}"></script>

    <script type="text/javascript">

        var $validation = true;
        var oldName;
        var base = 'http://localhost:8080';
        easyloader.base = "/easyui/";
        easyloader.locales = 'zh_CN';
        easyloader.theme = 'bootstrap';
        easyloader.load('tree',function () {
            $('#orgTree').tree({
                onClick: function(node){
                    // 给父节点隐藏控件赋值
                    var pName = $("#pname");
                    $("#pid").val(node.id);
                    pName.attr("value", node.orgName);
                },
                loadFilter:dataLoad
            });

            var promise = $.ajax({
                url:base + '/orgs/tree',
                dataType:'json',
                type:'get',
                headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
            });
            promise.done(function (data) {
                $('#orgTree').tree('loadData',data);
            }).fail(function (error) {
                layer.msg(error.responseJSON.msg);
            });

            initformSubmitEvent();
            databind();
        });

        // 递归过滤标准树形树形，添加一个 text 属性，值就是name属性的值
        function dataLoad(data,parent) {
            data.forEach(function (obj,index) {
                obj.text = obj.orgName;

                childLoad(obj);
            })

            return data;
        }
        function childLoad(obj) {
            if(obj.children !== null && obj.children.length > 0){
                obj.children.forEach(function (obj, index) {
                    obj.text = obj.orgName;
                    childLoad(obj);
                })
            }
        }

        // 显示资源菜单树，这个操作可以有，很6
        function showMenu() {
            var cityObj = $("#pname");
            var cityOffset = $("#pname").offset();
            var sel=document.getElementById("parentOrg");
            $("#menuContent").css({left:sel.offsetLeft + "px", top:sel.offsetTop + cityObj.outerHeight() + "px"}).slideDown("fast");
            $("body").bind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
                hideMenu();
            }
            if(event.target.id.length>=15&&event.target.id.length!=17){
                hideMenu();
            }
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }

        // 数据绑定，之后在 id 有值的情况才执行
        function databind(){
            var id = $('#orgId').val();
            if (id != null && id != ''){
                var promise = $.ajax({
                    url:base + '/orgs/' + id,
                    dataType:'json',
                    type:'get',
                    headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                });
                promise.done(function (result) {
                    var obj = result.data;
                    $('#pid').val(obj.pid);
                    $('#orgName').val(obj.orgName);
                    $('#orgBak').val(obj.orgBak);
                    $('#pname').val(obj.pName);

                    // 绑定老的数据
                    oldName = obj.name;
                }).fail(function (error) {
                    console.log(error);
                });
            }
        }


        function initformSubmitEvent(){
            $('#validation-form').validate({
                errorElement: 'div',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {
                    name:{
                        required: true
                    },
                    seq:{
                        required: true,
                        digits:true
                    }
                },
                messages: {
                    name:{
                        required: "请输入数据字典名称"
                    },
                    seq:{
                        required: "请输入排序号",
                        digits:"排序号只能输入整数"
                    }
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                    $(e).remove();
                },
                errorPlacement: function (error, element) {
                    if(element.is(':checkbox') || element.is(':radio')) {
                        var controls = element.closest('div[class*="col-"]');
                        if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else if(element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }
                    else if(element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    }
                    else error.insertAfter(element.parent());
                },
                submitHandler: function (form) {
                    var $form = $("#validation-form");
                    var $btn = $("#submit-btn");
                    if($btn.hasClass("disabled")) return;
                    $btn.addClass("disabled");

                    // var postData = $("#validation-form").serialize();
                    var id = $('#orgId').val();
                    var postData;
                    var submitUrl;
                    if (id != null && id != ''){
                        postData = {
                            pid:$('#pid').val(),
                            orgName:$('#orgName').val(),
                            orgBak:$('#orgBak').val(),
                            id:$('#dicId').val(),
                            checkName: ($('#name').val() === oldName) ? false : true,
                        }
                        submitUrl = base + '/orgs/modify';
                    }
                    else {
                        postData = {
                            pid:$('#pid').val(),
                            orgName:$('#orgName').val(),
                            orgBak:$('#orgBak').val()
                        }
                        submitUrl = base + '/orgs/save';
                    }

                    var promise = $.ajax({
                        url: submitUrl,
                        type:'post',
                        dataType:'json',
                        data:JSON.stringify(postData),
                        headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                    });
                    promise.done(function (result) {
                        if(result.reqSuccess){
                            layer.msg('操作成功', {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            },function(){
                                parent.reloadGrid();
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            });
                        }
                        else {
                            layer.msg(result.msg);
                        }
                    }).fail(function (error) {
                        layer.msg(error.responseJSON.msg);
                    })
                    $btn.removeClass('disabled');
                    return false;
                },
                invalidHandler: function (form) {
                }
            });
        }
    </script>
</body>
</html>