<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_head_css::commonHeader">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
</head>
<body class="no-skin">

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
            <div class="main-content" style="margin-left: 0px;">
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <form class="form-horizontal" id="validation-form" method="post">
                                <div class="form-group">
                                    <!-- 隐藏的 id 和 pid -->
                                    <input name="id" id="resId" type="hidden" value="" />
                                    <input type="hidden" id="pid" name="pid" value="" />
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="pname">上级资源</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="input-icon input-icon-right" id="parentRes">
                                            <input type="text" readonly="readonly" id="pname" name="pname" value="" class="col-xs-12 col-sm-6" />
                                            <button id="menuBtn" type="button" class="btn btn-sm btn-default" onclick="showMenu(); return false;" style="float: left;">选择</button>
                                        </div>
                                        <div id="menuContent" class="menuContent" style="overflow-y:auto; overflow-x:auto;display:none;position:absolute; z-index: 99999;background-color: #FFFFFF;border: 1px solid #858585;height: 250px;width: 270px;">
                                            <ul id="resTree" class="easyui-tree"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">资源名称</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="clearfix">
                                            <input type="text" name="name" id="name" value="" placeholder="系统资源相对路径" class="col-xs-12 col-sm-6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="url">资源路径</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="clearfix">
                                            <input type="text" name="url" id="url" value="" placeholder="系统资源相对路径" class="col-xs-12 col-sm-6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="resTypeCode">资源类型</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="clearfix">
                                            <select name="resTypeCode" id="resTypeCode" class="col-xs-12 col-sm-6">
                                                <option value="1">系统菜单</option>
                                                <option value="2">功能按钮</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="seq">排序号</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="clearfix">
                                            <input type="text" name="seq" id="seq" value="" placeholder="99" class="col-xs-12 col-sm-6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="icon">图标</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="clearfix">
                                            <input type="text" name="icon" id="icon" value="" class="col-xs-12 col-sm-6" />
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix form-actions" align="center">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="submit-btn" class="btn btn-info" type="submit" data-last="Finish">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            提交
                                        </button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            重置
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    </div><!-- /.main-container -->

    <!--导入通用js-->
    <div th:include="/common/common_head_js::onLoadJS"></div>
    <script th:src="@{/easyui/easyloader.js}"></script>
    <!--引入自定义本地存储对象myStorage，它依赖于cookieStorage.js-->
    <script th:src="@{/script/cookieStorage.js}"></script>
    <script th:src="@{/script/myStorage.js}"></script>

    <script type="text/javascript">

        var base = 'http://localhost:8080';
        easyloader.base = "/easyui/";
        easyloader.locales = 'zh_CN';
        easyloader.theme = 'bootstrap';
        easyloader.load('tree',function () {
            $('#resTree').tree({
                onClick: function(node){
                    // 不能选择一个 功能按钮 作为父节点资源
                    if(node.resourceType === 'FUNC'){
                        alert('不能选择一个[功能按钮]作为父节点资源');
                        return;
                    }

                    var pName = $("#pname");
                    $("#pid").val(node.id);
                    pName.attr("value", node.name);
                },
                loadFilter:dataLoad
            });

            var promise = $.ajax({
                url:'http://localhost:8080/resources/tree',
                dataType:'json',
                type:'get',
                headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
            });
            promise.done(function (data) {
                $('#resTree').tree('loadData',data);
            }).fail(function (error) {
                console.log(error);
            });

            initformSubmitEvent();
        })

        // 递归过滤标准树形树形，添加一个 text 属性，值就是name属性的值
        function dataLoad(data,parent) {
            data.forEach(function (obj,index) {
                obj.text = obj.name;

                childLoad(obj);
            })

            return data;
        }
        function childLoad(obj) {
            if(obj.children !== null && obj.children.length > 0){
                obj.children.forEach(function (obj, index) {
                    obj.text = obj.name;
                    childLoad(obj);
                })
            }
        }

        // 显示资源菜单树，这个操作可以有，很6
        function showMenu() {
            var cityObj = $("#pname");
            var cityOffset = $("#pname").offset();
            var sel=document.getElementById("parentRes");
            $("#menuContent").css({left:sel.offsetLeft + "px", top:sel.offsetTop + cityObj.outerHeight() + "px"}).slideDown("fast");
            $("body").bind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
                hideMenu();
            }
            if(event.target.id.length>=15&&event.target.id.length!=17){
                hideMenu();
            }
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }

        var $validation = true;
        function initformSubmitEvent(){
            $('#validation-form').validate({
                errorElement: 'div',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {
                    pname:{
                        required: true
                    },
                    name:{
                        required: true
                    },
                    seq:{
                        required: true,
                        digits:true
                    }
                },
                messages: {
                    pname:{
                        required: "请选择一个父节点资源"
                    },
                    name:{
                        required: "请输入资源名称"
                    },
                    seq:{
                        required: "请输入排序号",
                        digits:"排序号只能输入整数"
                    }
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                    $(e).remove();
                },
                errorPlacement: function (error, element) {
                    if(element.is(':checkbox') || element.is(':radio')) {
                        var controls = element.closest('div[class*="col-"]');
                        if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else if(element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }
                    else if(element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    }
                    else error.insertAfter(element.parent());
                },
                submitHandler: function (form) {
                    var $form = $("#validation-form");
                    var $btn = $("#submit-btn");
                    if($btn.hasClass("disabled")) return;
                    $btn.addClass("disabled");

                    // var postData = $("#validation-form").serialize();
                    var postData = {
                        icon:$('#icon').val(),
                        pid:$('#pid').val(),
                        name:$('#name').val(),
                        resTypeCode:$('#resTypeCode').val(),
                        url:$('#url').val(),
                        seq:$('#seq').val(),
                    }


                    var promise = $.ajax({
                        url: base + '/resources/save',
                        type:'post',
                        dataType:'json',
                        data:JSON.stringify(postData),
                        headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                    });
                    promise.done(function (result) {
                        if(result.reqSuccess){
                            layer.msg('操作成功', {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            },function(){
                                parent.reloadGrid();
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            });
                        }
                        else {
                            layer.msg(result.msg);
                        }
                        $btn.removeClass('disabled');
                    }).fail(function (error) {
                        console.log(error);
                        $btn.removeClass('disabled');
                    })

                    // 提交表单
                    // $.post("${context}/admin/resources/save" ,postData,function(data){
                    //     if(data.success){
                    //         layer.msg('操作成功', {
                    //             icon: 1,
                    //             time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    //         },function(){
                    //             parent.reloadGrid();
                    //             var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    //             parent.layer.close(index); //再执行关闭
                    //         });
                    //     }
                    //     else {
                    //         layer.msg(data.tipInfo);
                    //     }
                    //     $("#submit-btn").removeClass("disabled");
                    // },"json");

                    return false;
                },
                invalidHandler: function (form) {
                }
            });
        }
    </script>
</body>
</html>