<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/common_head_css::commonHeader">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>资源信息</title>
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    </head>
    <body class="no-skin">
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>

            <div class="main-content" id="page-wrapper">
                <div class="page-content" id="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                        </div>
                        <div class="col-xs-12">
                            <div class="row-fluid" style="margin-bottom: 5px;">
                                <div class="span12 control-group" id="permissionBtns">
                                    <!--<shiro:hasPermission name="/admin/res/enable">-->
                                        <!--<button class="btn btn-success" onclick="setVisible(100)">启用</button>-->
                                    <!--</shiro:hasPermission>-->
                                    <!--<shiro:hasPermission name="/admin/res/disable">-->
                                        <!--<button class="btn btn-danger" onclick="setVisible(200)">禁用</button>-->
                                    <!--</shiro:hasPermission>-->
                                    <!--<shiro:hasPermission name="/admin/res/add">-->
                                        <!--<button class="btn btn-primary" id="btn-add">添加</button>-->
                                    <!--</shiro:hasPermission>-->
                                    <!--<shiro:hasPermission name="/admin/res/edit">-->
                                        <!--<button class="btn btn-info" id="btn-edit">编辑</button>-->
                                    <!--</shiro:hasPermission>-->
                                </div>
                            </div>
                            <!-- PAGE CONTENT BEGINS -->
                            <table id="grid-table"></table>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div><!-- /.main-container -->

        <!--导入通用js-->
        <div th:include="/common/common_head_js::onLoadJS"></div>
        <script th:src="@{/easyui/easyloader.js}"></script>
        <!--引入自定义本地存储对象myStorage，它依赖于cookieStorage.js-->
        <script th:src="@{/script/cookieStorage.js}"></script>
        <script th:src="@{/script/myStorage.js}"></script>

        <script type="text/javascript">
            var base = 'http://localhost:8080';
            easyloader.base = "/easyui/";
            easyloader.locales = 'zh_CN';
            easyloader.theme = 'bootstrap';
            easyloader.load('treegrid',function(){
                $('#grid-table').treegrid({
                    idField:'id',
                    treeField:'name',
                    loadMsg: "加载中......",
                    fit:false,
                    fitColumns:true,
                    autoRowHeight:false,
                    animate:true,
                    columns:[[
                        {title:'资源名称',field:'name',width:120,align:'center'},
                        {title:'资源地址',field:'url',width:150,align:'center'},
                        {title:'资源类型',field:'resourceType',width:80,align:'center',formatter:fmatterType},
                        {title:'资源状态',field:'states',width:80,align:'center',formatter:fmatterEnabled}
                    ]]
                });

                var promise = $.ajax({
                    url:base + '/resources/tree',
                    dataType:'json',
                    type:'get',
                    headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                });
                promise.done(function (data) {
                    $('#grid-table').treegrid('loadData',data);
                }).fail(function (error) {
                    console.log(error);
                });

                // 初始化权限按钮
                var promise1 = $.ajax({
                    url:base + '/resources/userRes/' + JSON.parse( myStorage.getItem('currentUser')).name,
                    dataType:'json',
                    type:'get',
                    headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                });
                promise1.done(function (data) {
                    var res = data.data;
                    if(isInArray(res,'/admin/resource/add')){
                        $('#permissionBtns').append('<button class="btn btn-primary" onclick="addRes()" id="btn-add">添加</button>');
                    }
                    if(isInArray(res,'/admin/resource/edit')){
                        $('#permissionBtns').append('<button class="btn btn-info" onclick="modifyRes()" id="btn-edit">编辑</button>');
                    }
                }).fail(function (error) {
                    console.log(error);
                })
            });

            // 添加按钮事件处理函数
            function addRes(){
                layer.open({
                    type: 2,
                    fix: false,
                    title: '添加系统资源',
                    maxmin: true,
                    content: '/admin/resource/add',
                    area: ['770px', '520px']
                });
                }
                // 修改按钮事件处理函数
                function modifyRes() {
                    var row = selectRow();
                    if (row === null) {
                        layer.msg("请选择要修改的资源数据行");
                        return;
                    }
                    layer.open({
                        type: 2,
                        fix: false,
                        title: '资源修改',
                        maxmin: true,
                        content: '/admin/resource/edit/'+row.id,
                    area: ['770px', '520px']
                });
            }
            // 判断 url 是否在指定数组中
            function isInArray(resArray,val){
                for (var k=0;k<resArray.length;k++) {
                    if(val === resArray[k].url){
                        return true;
                    }
                }
                return false;
            }
            //格式化状态显示
            function fmatterType(value,row,index){
                if(value === "MENU"){
                    return '<span class="label label-sm label-info">系统菜单</span>';
                }else{
                    return '<span class="label label-sm label-success">功能按钮</span>';
                }
            }
            //格式化状态显示
            function fmatterEnabled(value,row,index){
                if(value == "NORMAL"){
                    return '<span class="label label-sm label-success">启用</span>';
                }else{
                    return '<span class="label label-sm label-warning">禁用</span>';
                }
            }
            //重新加载表格
            function reloadGrid(){
                $('#grid-table').treegrid('load');
            }
            //选中表格的一行
            function selectRow(){
                return $('#grid-table').treegrid('getSelected');
            }
        </script>
    </body>
</html>