<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/common/common_head_css::commonHeader">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>角色授权</title>
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <style type="text/css">
            body{
                background-color: #ffffff;
            }
            .left{
                position: absolute;
                top: 10px;
                left: 20px;
                width: 358px;
                border-right: 1px solid #CCC;
                overflow-y: auto;
            }
            .actions{
                position: absolute;
                bottom: 20px;
                left: 10px;
                width: 368px;
                border-right: 1px solid #CCC;
                height: 60px;
            }
        </style>
    </head>
    <body>
        <div class="left">
            <input type="hidden" id="roleId" th:value="${roleId}" value=""/>
            <ul id="resTree" class="easyui-tree"></ul>
        </div>
        <div class="actions" style="margin-left: 300px;margin-top: 30px;">
            <button class="btn btn-big btn-primar" id="btn_saveOrder">保存</button>
        </div>

        <!--导入通用js-->
        <div th:include="/common/common_head_js::onLoadJS"></div>
        <script th:src="@{/easyui/easyloader.js}"></script>
        <!--引入自定义本地存储对象myStorage，它依赖于cookieStorage.js-->
        <script th:src="@{/script/cookieStorage.js}"></script>
        <script th:src="@{/script/myStorage.js}"></script>

        <script type="text/javascript">
            var base = 'http://localhost:8080';
            easyloader.base = "/easyui/";
            easyloader.locales = 'zh_CN';
            easyloader.theme = 'bootstrap';

            var ingoreIds = [];

            easyloader.load('tree',function(){
                $('#resTree').tree({
                    lines : true,
                    checkbox : true,
                    loadFilter:dataLoad,
                    onClick : function(node) {
                    },
                    onLoadSuccess : function(node, data) {
                        var roleId = $('#roleId').val();
                        ingoreIds = checkNode(data);
                        $.ajax({
                            url:base + '/resources/roleRes/' + roleId,
                            dataType:'json',
                            type:'get',
                            headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                        }).done(function (result) {
                            for ( var i = 0; i < result.data.length; i++) {
                                if ($('#resTree').tree('find', result.data[i].id)) {
                                    $('#resTree').tree('check', $('#resTree').tree('find', result.data[i].id).target);
                                }
                            }
                        }).fail(function (error) {
                            console.log(error);
                        });
                    },
                    cascadeCheck : false
                });

                // 获取资源树的数据
                var promise = $.ajax({
                    url:base + '/resources/tree',
                    dataType:'json',
                    type:'get',
                    headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                });
                promise.done(function (data) {
                    $('#resTree').tree('loadData',data);
                }).fail(function (error) {
                    console.log(error);
                });


                // 授权
                $("#btn_saveOrder").click(function(){
                    $("#btn_saveOrder").attr("disabled","disabled");
                    var nodes = $('#resTree').tree('getChecked');
                    var selectIds = [];
                    for(var index in nodes){
                        var row = nodes[index];
                        selectIds[index] = row.id;
                    }

                    // 忽略掉 顶级菜单，一级菜单
                    for(var i=0;i<selectIds.length;i++){
                        for(var j=0;j<ingoreIds.length;j++){
                            if(selectIds[i] === ingoreIds[j]){
                                selectIds.splice(i,1)
                            }
                        }
                    }

                    $.ajax({
                        url:base + '/roles/grant?roleId=' + $('#roleId').val() + "&resIds[]=" + selectIds.join(","),
                        dataType:'json',
                        type:'get',
                        headers:{"Authorization":JSON.parse( myStorage.getItem('currentUser')).token,"Content-Type":"application/json;charset=UTF-8"}
                    }).done(function (data) {
                        if(data.reqSuccess){
                            layer.msg("操作成功", {
                                icon: 1,
                                time: 3000 //1秒关闭（如果不配置，默认是3秒）
                            });
                        }
                        else {
                            layer.msg(data.msg);
                        }
                        $("#btn_saveOrder").removeAttr("disabled");
                    }).fail(function (error) {
                        console.log(error);
                        $("#btn_saveOrder").removeAttr("disabled");
                    });
                });
            });

            // 勾选顶层节点和一级节点，并返回这些 节点 的 id 数组
            function checkNode(data){
                var ids = new Array();
                var top = $('#resTree').tree('find', data[0].id);
                ids.push(top.id);
                $('#resTree').tree('check', top.target);
                for(var i=0;i<data[0].children.length;i++){
                    var node = $('#resTree').tree('find', data[0].children[i].id);
                    $('#resTree').tree('check', node.target);
                    ids.push(node.id);
                }
                return ids;
            }

            // 递归过滤标准树形树形，添加一个 text 属性，值就是name属性的值
            function dataLoad(data,parent) {
                data.forEach(function (obj,index) {
                    obj.text = obj.name;

                    childLoad(obj);
                })

                return data;
            }
            function childLoad(obj) {
                if(obj.children !== null && obj.children.length > 0){
                    obj.children.forEach(function (obj, index) {
                        obj.text = obj.name;
                        childLoad(obj);
                    })
                }
            }

        </script>
    </body>
</html>